:root {
  --bg-color: #ffffff;
  --text-color: #111827;
  --text-color-negative: #ffffff;
  --primary-color: #4698e5;
}

.dark {
  --bg-color: #111827;
  --text-color: #ffffff;
  --text-color-negative: #111827;
  --primary-color: #10b981;
}
